    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    <iframe width="560" height="345" src="http://www.youtube.com/embed/0-Kpv-ZOcKY" frameborder="0" allowfullscreen></iframe>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>